@media only screen and (min-width: 47.5em) {

    header {
        justify-content: center;
    }


    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 auto;
    }
    .navigation a {
        text-align: center;
    }
    .navigation li:first-child {
        display: none;
    }
    main {
        position: relative;
    }
    .weatherSummary {
        box-sizing: border-box;
        position: absolute;
        top: 7em;
        left: 2em;
        font-weight: 600;
        color: black;
        background-color: #5edfff79;
        border-radius: 7px;
        padding: 5px;
    }
    footer{
        position: relative;
    }
    .info {
        position: relative;
        left: 30em;
        top: 8px;
    }
    .map {
        max-width: 400px;
        height: auto;
        position: fixed;
        top: 25em;
        left: 1em;
    }
}