@import url('https://fonts.googleapis.com/css2?family=Lato&family=Michroma&display=swap');
header {
    text-align: center;
}


img {
    max-width: 100%;
    display: block;
    border-radius: 5px;
    box-shadow:10px 10px 25px grey;

}

h1 {
    font-family: 'Michroma', sans-serif;
    color: red;
    font-size: 80px;
}

h2 {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 24px;
}

.container {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    margin: 0 auto;
}

.column {
    text-align: center;
}
