@import url('https://fonts.googleapis.com/css2?family=Lato&family=Michroma&display=swap');

h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    color: red;
}

h2 {
    font-family: 'Lato';
    font-size: 0.5rem;
}

img {
    float: center;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 10px 10px 25px grey;
}

